/* Общие стили для body и контейнера */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Задает минимальную высоту для body */
    margin: 0;
    background-color: #ECA442; /* Установлен цвет фона для всей страницы */
}

.container {
    display: flex; /* Создаем гибкую структуру */
    flex-direction: column; /* Располагаем элементы вертикально */
    flex: 1;
}

/*--------------------------------------------------------------------*/

/* Стили для навигационной панели */
.navbar {
    display: flex; /* Используем flexbox для равномерного распределения элементов */
    justify-content: flex-start; /* Распределяем элементы влево */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    padding: 5px 10px; /* Уменьшены отступы внутри навигационной панели */
    background-image: url('./img/imgTop.png');
    height: 12vh; /* Высота панели */
    background-size: contain;
    position: sticky; /* Делаем меню липким */
    top: 0; /* Прикрепляем к верхней части экрана */
    z-index: 1000; /* Устанавливаем z-index, чтобы меню было поверх других элементов */
}

.navbar a {
    color: white; /* Цвет текста ссылок */
    padding: 5px 10px; /* Уменьшены отступы вокруг ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.navbar a:hover {
    background-color: #575757; /* Цвет фона при наведении на ссылку */
}

#authButton {
    padding: 10px 20px; /* Уменьшены отступы внутри кнопки */
    background-color: #28a745; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
}

#statusMessage {
    margin-left: auto; /* Отодвигаем текст к правому краю */
    color: white; /* Цвет текста сообщения о статусе */
    padding: 0px 30px; /* Уменьшены отступы вокруг текста статуса */
    margin-top: 10px; /* Поднимаем текст надписи вверх (можно настроить значение) */
}
/*--------------------------------------------------------------------*/

/* Стили для секции "О нас" */
.about-section {
    background-image: url('./img/img1.jpeg'); /* Укажите путь к вашей картинке */
    background-size: cover; /* Обеспечивает полное отображение изображения */
    background-position: center; /* Центрирование изображения */
    padding: 50px 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
    min-height: 300px; /* Минимальная высота секции (можно настроить) */
    position: relative; /* Позволяет использовать абсолютное позиционирование для псевдоэлемента */
}

/* Псевдоэлемент для фона текста */
.about-section::before {
    content: ""; /* Создаем пустой элемент */
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Прикрепляем к верхней части секции */
    left: 0; /* Прикрепляем к левому краю секции */
    right: 0; /* Прикрепляем к правому краю секции */
    bottom: 0; /* Прикрепляем к нижней части секции */
    background-color: rgba(122, 122, 122, 0.5); /* Полупрозрачный черный фон */
    z-index: 1; /* Устанавливаем z-index ниже текста */
}

.about-section h1, .about-section p {
    position: relative; /* Позволяем тексту быть выше псевдоэлемента */
    color: rgb(255, 255, 255); /* Цвет текста */
    z-index: 2; /* Устанавливаем z-index выше псевдоэлемента */
}

/*--------------------------------------------------------------------*/
/* Стили для блока меню */
.menu-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.block {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.block img {
    width: 100%;
    height: auto;
}


.close {
   cursor: pointer; 
}

/* Стили для подвала */
.footer {
   text-align: center; 
   padding: 10px; 
   background-color: #333; 
   color: white; 
   margin-top: auto;
}



/* Стили для попапа */
.popup {
    display: none; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    z-index: 1001; 
}

/* Стили для содержимого попапа */
.popup-content {
    background-color: white; 
    margin: auto; /* Убираем отступы */
    padding: 20px; 
    border-radius: 5px; 
    width: 80%; /* Ширина попапа */
    max-width: 800px; /* Максимальная ширина попапа */
    position: absolute; /* Позиционирование относительно родителя */
    top: 50%; /* Позиция сверху */
    left: 50%; /* Позиция слева */
    transform: translate(-50%, -50%); /* Центрируем попап */
}

/* Стили для таблицы в попапе */
.popup-table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные границы */
}

/* Стили для контейнера картинки */
.popup-image-container {
    width: 50%; /* Ширина колонки с картинкой */
}

/* Стили для картинки в попапе */
.popup-image {
    width: 100%; /* Ширина картинки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Стили для контейнера текста */
.popup-text-container {
    width: 50%; /* Ширина колонки с текстом */
    padding-left: 20px; /* Отступ слева от текста */
}

/* Стили для кнопки "Добавить в корзину" */
.add-to-cart {
    margin-top: 20px; /* Отступ сверху */
    padding: 10px 20px; /* Отступы кнопки */
    background-color: #28a745; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
}

.add-to-cart:hover {
    background-color: #218838; /* Цвет кнопки при наведении */
}